/* .profileListCardComponent{
    display: flex;
    align-items: center;
    flex-direction: column;
    background: url("../../images/backgrounds/green-sky.png") no-repeat center/cover, lightgray;
    width: 100vw;
    height: 100vh;
} */

.profileListContainerBox{
    display: flex;
    align-items: center;
    flex-direction: column;
    background: url("../../images/backgrounds/green-sky.png") no-repeat center/cover, lightgray;
    width: 100vw;
    height: 100vh;
}