
.chatContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: url("../../images/backgrounds/light-diamond-background-3.png") no-repeat center/cover, lightgray;
    width: 100vw; 
    height: 100vh;
}


.messageContainer{
    width: 600px;
    height: 500px;
    flex-shrink: 0;
    border-radius: 20px;
    border: 4px solid #000;
    background: #FCFCFC;
    margin: 20px;
    padding: 30px;

}


.chatbotInput{
    width: 500px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 40px;
    border: 4px solid #000;
    background: #FCFCFC;
    margin-top: 20px;
    margin-right: 10px;
}

.chatBotSendButton {
    width: 80px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 20px;
    border: 2px solid #000;
    background: #5DA596;
    margin-left: 10px;
}

h1 {
    font-family: TheGoodMonolith;
    font-size: 60px;
}

.chatComponentButton{
    width: 100px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 20px;
    border: 4px solid #000;
    background: #9B4FD7;
    margin-top: 5px;
}
